/* 1. Base */

html {
    background-color: #fff;
    background-image: none;
    color: #000000;  
    font-size: 14px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    min-height: 100vh;
    min-width: 300px;
    overflow-x: hidden;
}

a {
    color: currentColor;
    cursor: pointer;
    text-decoration: none;
}

/* 2. Shared */

.picture-shadow,
.photo-image {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.description,
.occupation,
.button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.button,
.social a {
    transform-origin: center;
    transition-duration: 150ms;
}


/* 3. Specific */

.content {
    display: flex;
    position: relative;
    min-height: 100vh;
}

.side {
    max-height: 30rem;
    max-width: 30rem;
}

.about {
    max-width: 35rem;
}


.logo {
    font-family: 'Montserrat', sans-serif;
    margin-left: 15.5rem;
}


.name {
    font-family: 'Inconsolata', monospace;
    font-size: 2rem;
    line-height: 1.125;
    margin-bottom: 0.5rem;

}

.nav {
    display: flex;
    font-size: .9rem;
}

.primaryHeader {
    padding-top: 2rem;
}

.who {
    font-family: 'Montserrat', sans-serif;
    margin-left: 15rem;
}

.hr {
    background-color: #000;
    border: none;
    content: "";
    height: 1px;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    transform-origin: center left;
    width: 100%;
}

.occupation {
    font-size: 0.9rem;
}


.contact    {
    display: inline-block;
    vertical-align: top;
}

.button {
    background-color: #fff;
    border: 1px solid rgb(24, 24, 24);
    color: #000;
    display: inline-block;
    font-size: 0.7rem;
    line-height: 1;
    margin-top: 1.5rem;
    padding: .8em .8em;
    user-select: none;
    vertical-align: top;
    white-space: nowrap;
}

.button:hover {
    background-color: #000;
    color: white;
}

.button:active {
}

.social {
    display: flex;
    margin-top: 1.5rem;
}

.social li {
    height: 2rem;
    text-align: center;
    width: 2rem;
}

.social a {
    align-items: center;
    display: flex;
    font-size: 1.7rem;
    height: 2rem;
    justify-content: center;
    opacity: 0.2;
    transition-property: opacity, transform;
    width: 2rem;
    will-change: opacity, transform;
}

.social a:hover {
    opacity: 1;
    transform: scale(1.2);
}

.social a:active {
    opacity: 1;
    transform: scale(1.1);
}

.github {
    padding-left: .2rem;
}

.soundcloud {
    padding-left: .7rem;
}





/* 4. Responsiveness */

@media screen and (max-width: 799px) {
    .content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding : 5rem 3rem;
    }

    .side {
        margin-bottom: 3rem;
        width: 100%;
    }
    
}

@media screen and (min-width: 800px) {
    .content {
        align-items: center;
        justify-content: space-around;
        justify-content: space-evenly;
        padding: 8rem;
    }

    .side {
        flex-grow: 0;
        flex-shrink: 0;
        height: 20rem;
        margin-left: 4rem;
        order: 2;
        width: 20rem;
    }

    .about {
        flex-grow: 1;
        flex-shrink: 1;
    }

    .photo {
        padding-top: 100%;
        position: relative;
        width: 100%;
    }

    .photo-shadow {
        background-image: radial-gradient(#000 0% rgba(0, 0, 0, 0) 90%);
        position: absolute;
        top: 10%;
    }

    .photo-image {
        position: absolute;
    }

}